.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/dist/


# env files (can opt-in for committing if needed)
.env*
!.env.schema
!.env.bitwarden
!.env.test
/app/generated/

# Local Netlify folder
.netlify
.wrangler
env.d.ts
worker-configuration.d.ts


.agents